<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Estimated Cost Analysis</title>
  <style type="text/css">
    body {
      background-color: #348;
    }

    table {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      background-color: #003;
      padding: 0;
    }

    td {
      border-right: 1px solid #C1DAD7;
      border-bottom: 1px solid #C1DAD7;
      padding: 6px 6px 6px 12px;
      color: #447777;
    }

    .header td{
      background-color: #ddd;
    }

    tr {
      background-color: #fff;
    }

    tr:nth-child(2n+1){
      background-color: #ccc;
    }
  </style>
</head>
<body>
<p style="color: #FFF700">These metrics are not meant to be used as law but are a relative measure of the quality
  and cost of a program</p>
<a href="index.html" style="color: #fff;">Back to Overview</a>
<table>
  <tr class="header">
    <td>Metric</td>
    <td>Value</td>
    <td>Description</td>
  </tr>
  <tr>
    <td<%
    if(report.maintainability <= 40) {
    %> style="color: #f00;"<%
    }
    if(report.maintainability >= 80) {
    %> style="color: #0f0;"<%
    }
    %>>Maintainability</td>
    <td<%
    if(report.maintainability <= 40) {
    %> style="color: #f00;"<%
    }
    if(report.maintainability >= 80) {
    %> style="color: #0f0;"<%
    }
    %>><%- report.maintainability.toFixed(2) %></td>
    <td>This is the relative maintainability of the file on a scale of 0-100. Higher is better.</td>
  </tr>
  <tr>
    <td>Difficulty</td>
    <td><%- report.aggregate.halstead.difficulty.toFixed(2) %></td>
    <td>This is a measure of how difficult it is to understand the code. Lower is better.</td>
  </tr>
  <tr>
    <td<%
    if(report.aggregate.cyclomatic >= 5) {
    %> style="color: #f00;"<%
    }
    if(report.aggregate.cyclomatic <= 2) {
    %> style="color: #0f0;"<%
    }
    %>>Cyclomatic Complexity</td>
    <td<%
    if(report.aggregate.cyclomatic >= 5) {
    %> style="color: #f00;"<%
    }
    if(report.aggregate.cyclomatic <= 2) {
    %> style="color: #0f0;"<%
    }
    %>><%- report.aggregate.cyclomatic %></td>
    <td>This is how complex the code is based on the number of paths through the code. Lower is better</td>
  </tr>
  <tr>
    <td>Cyclomatic Density</td>
    <td><%- report.aggregate.cyclomaticDensity.toFixed(2) %></td>
    <td>This is a re-expression of the above metric as a percentage based on the lines of code. Lower is better.</td>
  </tr>
  <tr>
    <td>Effort</td>
    <td><%- report.aggregate.halstead.effort.toFixed(2) %></td>
    <td>This is the amount of effort needed to write the code based on it's difficulty and length</td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%- (report.aggregate.halstead.time / 60 / 60).toFixed(2) %> Hours</td>
    <td>This is the estimated amount of time needed to write the file based on the effort required.</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>$<%- (report.aggregate.halstead.time * 0.013).toFixed(2) %></td>
    <td>This is the estimated cost to develop the file based on the time needed to develop it.</td>
  </tr>
  <tr>
    <td<%
    if(report.aggregate.halstead.bugs >= 2) {
    %> style="color: #f00;"<%
    }
    if(report.aggregate.halstead.bugs <= 0.5) {
    %> style="color: #0f0;"<%
    }
    %>>Bugs</td>
    <td<%
    if(report.aggregate.halstead.bugs >= 2) {
    %> style="color: #f00;"<%
    }
    if(report.aggregate.halstead.bugs <= 0.5) {
    %> style="color: #0f0;"<%
    }
    %>><%- report.aggregate.halstead.bugs.toFixed(2) %></td>
    <td>This is the estimated number of bugs in the file.</td>
  </tr>
  <tr>
    <td<%
    if(report.aggregate.sloc.logical >= 200) {
    %> style="color: #f00;"<%
    }
    %>>Logical SLOC</td>
    <td<%
    if(report.aggregate.sloc.logical >= 200) {
    %> style="color: #f00;"<%
    }
    %>><%- report.aggregate.sloc.logical %></td>
    <td>This is the number of lines of software that are considered logic.</td>
  </tr>
  <tr>
    <td>Physical SLOC</td>
    <td><%- report.aggregate.sloc.physical %></td>
    <td>This is the total lines of source code including up to 25% whitespace, but ignoring excessive formatting.</td>
  </tr>
</table>

<p style="color: #fff;">Dependencies:</p>
<table>
  <tr class="header">
    <td>Name</td>
    <td>Line #</td>
    <td>Type</td>
  </tr>
  <% _.forEach(report.dependencies, function(dep) { %>
  <tr>
    <td><%- dep.path %></td>
    <td><%- dep.line %></td>
    <td><%- dep.type %></td>
  </tr>
  <% }); %>
</table>

<p style="color: #fff;">Functions:</p>

<% _.forEach(report.functions, function(func) { %>

<table>
  <tr>
    <td colspan="3" style="text-align: center"><%- func.name %></td>
  </tr>
  <tr class="header">
    <td>Metric</td>
    <td>Value</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>Line #</td>
    <td><%- func.line %></td>
    <td>The line the function appears on.</td>
  </tr>
  <tr>
    <td<%
    if(func.params > 3) {
    %> style="color: #f00;"<%
    }
    %>>Parameters</td>
    <td<%
    if(func.params > 3) {
    %> style="color: #f00;"<%
    }
    %>><%- func.params %></td>
    <td>The number of parameters the function takes.</td>
  </tr>
  <tr>
    <td>Difficulty</td>
    <td><%- func.halstead.difficulty.toFixed(2) %></td>
    <td>This is a measure of how difficult the method is to understand. Lower is better.</td>
  </tr>
  <tr>
    <td<%
    if(func.cyclomatic >= 5) {
    %> style="color: #f00;"<%
    }
    if(func.cyclomatic <= 2) {
    %> style="color: #0f0;"<%
    }
    %>>Cyclomatic Complexity</td>
    <td<%
    if(func.cyclomatic >= 5) {
    %> style="color: #f00;"<%
    }
    if(func.cyclomatic <= 2) {
    %> style="color: #0f0;"<%
    }
    %>><%- func.cyclomatic %></td>
    <td>This is how complex the method is based on the number of paths through the code. Lower is better.</td>
  </tr>
  <tr>
    <td>Cyclomatic Density</td>
    <td><%- (func.cyclomaticDensity || 0.00).toFixed(2) %></td>
    <td>This is a re-expression of the above metric as a percentage based on the lines of code. Lower is better.</td>
  </tr>
  <tr>
    <td>Effort</td>
    <td><%- func.halstead.effort.toFixed(2) %></td>
    <td>This is the amount of effort needed to write the code based on it's difficulty and length.</td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%- (func.halstead.time / 60).toFixed(2) %> Minutes</td>
    <td>This is the estimated amount of time needed to write the method based on the effort required.</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>$<%- (func.halstead.time * 0.13).toFixed(2) %></td>
    <td>This is the estimated cost to develop the file based on the time needed to develop it.</td>
  </tr>
  <tr>
    <td<%
    if(func.halstead.bugs >= 1) {
    %> style="color: #f00;"<%
    }
    if(func.halstead.bugs <= 0.3) {
    %> style="color: #0f0;"<%
    }
    %>>Bugs</td>
    <td<%
    if(func.halstead.bugs >= 1) {
    %> style="color: #f00;"<%
    }
    if(func.halstead.bugs <= 0.3) {
    %> style="color: #0f0;"<%
    }
    %>><%- func.halstead.bugs.toFixed(2) %></td>
    <td>This is the estimated number of bugs in the method.</td>
  </tr>
  <tr>
    <td<%
    if(func.sloc.logical >= 20) {
    %> style="color: #f00;"<%
    }
    %>>Logical SLOC</td>
    <td<%
    if(func.sloc.logical >= 20) {
    %> style="color: #f00;"<%
    }
    %>><%- func.sloc.logical %></td>
    <td>This is the number of lines of software that are considered logic.</td>
  </tr>
  <tr>
    <td>Physical SLOC</td>
    <td><%- func.sloc.physical %></td>
    <td>This is the total lines of source code including up to 25% whitespace, but ignoring excessive formatting.</td>
  </tr>
</table>
<% }); %>
</body>
</html>
